aiofiles
docx2pdf
fastapi
fastmcp
flagembedding
httpx
langchain
langchain-core
langchain-mcp-adapters
langchain-openai
langchain-pymupdf4llm
langgraph
langgraph-checkpoint-redis
lightgbm
llama-index
llama-index-embeddings-langchain
llama-index-embeddings-ollama
llama-index-graph-stores-neo4j
llama-index-llms-dashscope
llama-index-llms-openai-like
llama-index-postprocessor-flag-embedding-reranker
llama-index-vector-stores-milvus
llama-parse
markitdown
neo4j
nest-asyncio
ollama
pydantic
pydantic-settings
pymilvus
pymupdf
pyyaml
redis
rapidocr-onnxruntime
short-unique-id
tenacity
uvicorn
